{% extends 'partials/base.html' %}

{% block content %}
{% load static %}

<section class="page-header">
<div class="page-header__bg" style="background-image: url(assets/images/backgrounds/page-header-1-1.jpg);"></div>
<div class="container">
<div class="page-header__content">
<h2 class="page-header__title bw-split-in-right">About Company</h2>
<ul class="espartyox-breadcrumb list-unstyled">
<li><a href="index.html">Home</a></li>
<li><span>About Company</span></li>
</ul>
<span class="page-header__line"></span>
</div>
</div>
</section>
<section class="about-one section-space">
<div class="container">
<div class="row gutter-y-30 align-items-center">
<div class="col-lg-6">
<div class="about-one__thumb wow fadeInLeft" data-wow-delay="400ms" data-wow-duration="1500ms">
<div class="about-one__thumb__item">
<img alt="image" src="{% static 'assets/images/about/about-1-11.jpg' %}"/>
</div>
<div class="about-one__thumb__item-small">
<img alt="image" src="{% static 'assets/images/about/about-s-1-11.jpg' %}"/>
</div>
<div class="about-one__thumb__shape">
<img alt="shape" src="{% static 'assets/images/shapes/about-shape-1-1.png' %}"/>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="about-one__content">
<div class="sec-title text-left">
<h4 class="sec-title__tagline bw-split-in-up-fast">About US</h4>
<h3 class="sec-title__title bw-split-in-right">Strategic Agency Powering <br/> Corporate Progress</h3>
</div>
<p class="about-one__text wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">We conduct a comprehensive analysis of the clientâs website and gather detailed insights on competitors to develop a tailored marketing strategy. Since online marketing has no one-size-fits-all solution, our approach.</p>
<ul class="about-one__list list-unstyled wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
<li> <i class="icon-check-round"></i> Best Consulting Agency</li>
<li> <i class="icon-check-round"></i> Trusted &amp; Experience Services</li>
<li> <i class="icon-check-round"></i> Dedicated Support &amp; Security</li>
</ul>
<div class="about-one__btn wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
<a class="espartyox-btn" href="about.html"> <span class="espartyox-btn__text">LEARN MORE</span><span class="espartyox-btn__icon"><i class="icon-right-arrow"></i></span></a>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="service-overview section-space-bottom">
<div class="container">
<div class="row gutter-y-60">
<div class="col-lg-6">
<div class="service-overview__thumb wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
<div class="service-overview__thumb__item">
<img alt="image" src="{% static 'assets/images/about/why-1-2.jpg' %}"/>
</div>
<div class="service-overview__thumb__item-two">
<img alt="image" src="{% static 'assets/images/about/why-1-1.jpg' %}"/>
</div>
<div class="service-overview__thumb__video">
<a class="video_play video-popup" href="https://www.youtube.com/watch?v=h9MbznbxlLc">
<i class="icon-play"></i>
</a>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="service-overview__content">
<div class="sec-title text-left">
<h4 class="sec-title__tagline bw-split-in-up-fast">Just A Consultancy</h4>
<h3 class="sec-title__title bw-split-in-right">Dedicated and Professional Consulting Solutions</h3>
</div>
<p class="service-overview__text wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">Every pleasure is to be welcomed and every pain avoided; however, due to the duties and obligations of business, it often happens that pleasures must be rejected and annoyances accepted.</p>
<div class="service-overview__progress-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
<div class="service-overview__progress wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
<h4 class="service-overview__progress__title">Business Strategy</h4>
<div class="service-overview__progress__bar">
<div class="service-overview__progress__inner count-bar" data-percent="75%"></div>
<div class="service-overview__progress__number count-text">75%</div>
</div>
</div>
<div class="service-overview__progress wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
<h4 class="service-overview__progress__title">Company Strength</h4>
<div class="service-overview__progress__bar">
<div class="service-overview__progress__inner count-bar" data-percent="90%"></div>
<div class="service-overview__progress__number count-text">90%</div>
</div>
</div>
</div>
<div class="service-overview__btn wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
<a class="espartyox-btn" href="about.html"> <span class="espartyox-btn__text">EXPLORE MORE</span><span class="espartyox-btn__icon"><i class="icon-right-arrow"></i></span></a>
<div class="service-overview__call">
<div class="service-overview__call__icon">
<i class="icon-email"></i>
</div>
<div class="service-overview__content">
<span class="service-overview__call-sub">Directly Message</span>
<a class="service-overview__call-number" href="mailto:espartyox@gmail.com">espartyox@gmail.com</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="funfact-one" id="funfact">
<div class="funfact-one__bg" style="background-image: url(assets/images/shapes/funfact-bg-1-1.jpg);"></div>
<div class="container">
<ul class="funfact-one__list list-unstyled">
<li class="funfact-one__list__item count-box wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
<div class="funfact-one__list__icon">
<i class="icon-team"></i>
</div>
<div class="funfact-one__list__content">
<h2 class="funfact-one__list__count"><span class="count-text" data-speed="1500" data-stop="180"></span></h2>
<p class="funfact-one__list__text">Expert Team</p>
</div>
</li>
<li class="funfact-one__list__item count-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
<div class="funfact-one__list__icon">
<i class="icon-documents"></i>
</div>
<div class="funfact-one__list__content">
<h2 class="funfact-one__list__count"><span class="count-text" data-speed="1500" data-stop="200"></span></h2>
<p class="funfact-one__list__text">Active Project</p>
</div>
</li>
<li class="funfact-one__list__item count-box wow fadeInUp" data-wow-delay="500ms" data-wow-duration="1500ms">
<div class="funfact-one__list__icon">
<i class="icon-award"></i>
</div>
<div class="funfact-one__list__content">
<h2 class="funfact-one__list__count"><span class="count-text" data-speed="1500" data-stop="30"></span></h2>
<p class="funfact-one__list__text">Award Winning</p>
</div>
</li>
<li class="funfact-one__list__item count-box wow fadeInUp" data-wow-delay="700ms" data-wow-duration="1500ms">
<div class="funfact-one__list__icon">
<i class="icon-rates"></i>
</div>
<div class="funfact-one__list__content">
<h2 class="funfact-one__list__count"><span class="count-text" data-speed="1500" data-stop="3000"></span></h2>
<p class="funfact-one__list__text">Total Rates</p>
</div>
</li>
</ul>
</div>
</section>
<section class="why-choose-us section-space">
<div class="container">
<div class="row gutter-y-30">
<div class="col-lg-6">
<div class="why-choose-us__content">
<div class="sec-title text-left">
<h4 class="sec-title__tagline bw-split-in-up-fast">Why Choose Us</h4>
<h3 class="sec-title__title bw-split-in-right">Dedicated and Professional Consulting Solutions</h3>
</div>
<p class="why-choose-us__text wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">Every pleasure is to be welcomed and every pain avoided; however, due to the duties and obligations of business, it often happens that pleasures must be rejected and annoyances accepted.</p>
<div class="why-choose-us__feature">
<div class="why-choose-us__feature__item wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
<div class="why-choose-us__feature__icon">
<i class="icon-clients"></i>
</div>
<div class="why-choose-us__feature__content">
<h4 class="why-choose-us__feature__title">100% Client Satisfactions</h4>
<p class="why-choose-us__feature__text">We are committed to delivering exceptional service and ensuring complete satisfaction with every project.</p>
</div>
</div>
<div class="why-choose-us__feature__item wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
<div class="why-choose-us__feature__icon">
<i class="icon-solid_20"></i>
</div>
<div class="why-choose-us__feature__content">
<h4 class="why-choose-us__feature__title">Established Business</h4>
<p class="why-choose-us__feature__text">We are committed to delivering exceptional service and ensuring complete satisfaction with every project.</p>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="why-choose-us__thumb">
<img alt="image" src="{% static 'assets/images/resources/why-choose-us-1-1.jpg' %}"/>
<a class="video_play video-popup" href="https://www.youtube.com/watch?v=h9MbznbxlLc">
<i class="icon-play"></i>
</a>
</div>
</div>
</div>
</div>
</section>
<div class="brand-carousel section-space-bottom wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
<div class="container">
<div class="brand-carousel__top">
<h4 class="brand-carousel__top__text">Trusted by 2,000+ Brands</h4>
</div>
<div class="brand-carousel espartyox-owl__carousel owl-theme owl-carousel" data-owl-options='{
                "items": 5,
                "margin": 35,
                "smartSpeed": 600,
                "loop":true,
                "autoplay": 400,
                "nav":false,
                "dots":false,
                "responsive":{
                    "0":{
                        "items":1,
                        "margin": 0
                    },
                    "360":{
                        "items":2,
                        "margin": 30
                    },
                    "575":{
                        "items":3,
                        "margin": 30
                    },
                    "768":{
                        "items":3,
                        "margin": 80
                    },
                    "992":{
                        "items": 4,
                        "margin": 100
                    },
                    "1199":{
                        "items": 5,
                        "margin": 130
                    }
                }
            }'>
<div class="brand-carousel__item">
<img alt="espartyox image" class="brand-carousel__image" src="{% static 'assets/images/resources/brand-1-1.png' %}"/>
<img alt="espartyox image" class="brand-carousel__hover-image" src="{% static 'assets/images/resources/brand-1-1-hover.png' %}"/>
</div>
<div class="brand-carousel__item">
<img alt="espartyox image" class="brand-carousel__image" src="{% static 'assets/images/resources/brand-1-1.png' %}"/>
<img alt="espartyox image" class="brand-carousel__hover-image" src="{% static 'assets/images/resources/brand-1-1-hover.png' %}"/>
</div>
<div class="brand-carousel__item">
<img alt="espartyox image" class="brand-carousel__image" src="{% static 'assets/images/resources/brand-1-1.png' %}"/>
<img alt="espartyox image" class="brand-carousel__hover-image" src="{% static 'assets/images/resources/brand-1-1-hover.png' %}"/>
</div>
<div class="brand-carousel__item">
<img alt="espartyox image" class="brand-carousel__image" src="{% static 'assets/images/resources/brand-1-1.png' %}"/>
<img alt="espartyox image" class="brand-carousel__hover-image" src="{% static 'assets/images/resources/brand-1-1-hover.png' %}"/>
</div>
<div class="brand-carousel__item">
<img alt="espartyox image" class="brand-carousel__image" src="{% static 'assets/images/resources/brand-1-1.png' %}"/>
<img alt="espartyox image" class="brand-carousel__hover-image" src="{% static 'assets/images/resources/brand-1-1-hover.png' %}"/>
</div>
<div class="brand-carousel__item">
<img alt="espartyox image" class="brand-carousel__image" src="{% static 'assets/images/resources/brand-1-1.png' %}"/>
<img alt="espartyox image" class="brand-carousel__hover-image" src="{% static 'assets/images/resources/brand-1-1-hover.png' %}"/>
</div>
</div>
</div>
</div>

{% endblock content %}